@model LoginViewModel

<div class="login-page @(!ViewData.ModelState.IsValid || ViewData.Model.Error != null ? "error" : "")">
    <div class="login-container">
        <div class="logo-wrapper">
            <img class="logo" src="~/images/voidwell-logo.png" />
        </div>
        <div>
            @Html.Partial("_ValidationSummary")
            <div class="server-error">@(ViewData.Model.Error)</div>
        </div>
        <form asp-route="Login" class="login-form">
            <input type="hidden" asp-for="ReturnUrl" />
            <div>
                <span class="input-label">Username</span>
                <div class="login-input-wrapper">
                    <input class="login-form-input" asp-for="Username" autofocus>
                </div>
            </div>
            <div>
                <span class="input-label">Password</span>
                <div class="login-input-wrapper">
                    <input type="password" class="login-form-input" asp-for="Password" autocomplete="off">
                </div>
            </div>
            <div>
                <button class="login-button pull-right">Login</button>
                <div class="login-remember">
                    <div asp-for="RememberLogin">
                        <span class="text">Remember me</span>
                        <input class="pull-left" asp-for="RememberLogin">
                    </div>
                </div>
            </div>
        </form>
        <div class="recover-password">
            <a href="https://voidwell.com/account/resetpassword">Recover Password</a>
        </div>
    </div>    
</div>