@model LoginViewModel

<div class="login-page @(!ViewData.ModelState.IsValid ? "error" : "")">
    <div class="login-container">
        <div class="logo-wrapper">
            <img class="logo" src="~/images/voidwell-logo.png" />
        </div>
        @Html.Partial("_ValidationSummary")
        <form asp-route="Login">
            <input type="hidden" asp-for="ReturnUrl" />
            <fieldset>
                <div>
                    <span class="input-label">Username</span>
                    <div class="login-input">
                        <input class="form-control" asp-for="Username" autofocus>
                    </div>
                </div>
                <div>
                    <span class="input-label">Password</span>
                    <div class="login-input">
                        <input type="password" class="form-control" asp-for="Password" autocomplete="off">
                    </div>
                </div>
                <div class="bottom-row">
                    <button class="login-button pull-right">Login</button>
                    <div class="login-remember">
                        <div asp-for="RememberLogin">
                            <input asp-for="RememberLogin">
                            <span class="text">Remember me</span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="recover-password">
            <a href="http://localdev.com/account/resetpassword">Recover Password</a>
        </div>
    </div>    
</div>