body {
    background: #22313a;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 1.5em;
    margin: 0;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

h1 {
    color: #fff;
    opacity: 0.8;
}

.navbar-header {
    background: #1e2a31;
    padding: 8px;
}

.navbar-header a {
    text-decoration: none;
    color: #fff;
}

.navbar-header .brand-text {
    height: 10px;
    vertical-align: middle;
}

.login-page,
.logout-page,
.logged-out {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

.logged-out .signout {
    border: none;
}

.logged-out a.PostLogoutRedirectUri {
    color: #7b7b7b;
    font-weight: bold;
    text-decoration: none;
}

.navbar-header .logo,
.login-page .logo {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    fill: #fff;
    fill-rule: evenodd;
}

.navbar-header .logo-wrapper,
.login-page .logo-wrapper {
    position: relative;
}

.navbar-header .logo-wrapper {
    height: 30px;
    width: 70px;
    display: inline-block;
    margin-right: 5px;
    display: none;
}

.login-page .logo-wrapper {
    height: 75px;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.navbar-header .circle-icon:after,
.login-page .circle-icon:after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 98%;
    height: 98%;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: -1;
    background: #fff;
}

.login-page.error .logo {
    animation: colorflash 2s linear 1 normal;
}

.form-input-group {
    display: grid;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    width: 300px;
}

.form-input-group .form-input:not(:last-of-type) {
    margin-bottom: 45px;
}

.form-input {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}
.form-input .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
    opacity: 0.5;
}
.form-input .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}
.form-input input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 1em 0;
    height: 1em;
    font-size: 1em;
    font-weight: 500;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    background: none;
    border-radius: 0;
    color: #fff !important;
    transition: all 0.15s ease;
    background-color: transparent !important;
}

.form-input input:hover {
    background: rgba(34,50,84,0.03);
}
.form-input input:not(:placeholder-shown) + span {
    opacity: 0.5;
    transform: translateY(-26px) scale(0.75);
}
.form-input input:focus {
    background: none;
    outline: none;
}
.form-input input:focus + span {
    transform: translateY(-26px) scale(0.75);
    opacity: 1;
}
.form-input input:focus + span + .border {
    transform: scaleX(1);
    opacity: 1;
}

.login-page .login-remember {
    margin-left: 68px;
    display: none;
}

.login-page .login-remember .text {
    opacity: 0.5;
    line-height: 18px;
}

.login-page .recover-password {
    text-align: right;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 0.9em;
}
.login-page .recover-password a {
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}

button {
    color: #fff;
    background-color: transparent;
    border: 1px solid white !important;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    opacity: 0.8;
}

.login-page .validation-text {
    margin-left: 10px;
    font-size: 1em;
}

.login-page .server-error {
    margin-bottom: 40px;
    text-align: center;
}

.login-page .login-button {
    margin-top: 50px;
}

@keyframes colorflash {
    0% { fill: #fff; }
    7%   { fill: #d81b26; }
    12% { fill: #fff; }
    22%   { fill: #d81b26; }
    27% { fill: #fff; }
    100% { fill: #fff; }
}

