@{
    ViewData["Title"] = "Secure";
}
<h2>@ViewData["Title"].</h2>

<div>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>
</div>
